.scrolly__content {
  padding: 15px 30px;
  background: $gray-lighter;
  pointer-events: all;

  @include mq($screen-l) {
    padding: 60px;
    width: 50%;
  }
}

.scrolly__article {
  position: relative;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.scrolly__section {
  padding: 65vh 0 0 0;
  margin: 10px 0;

  figure {
    padding-top: 1em;
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  figcaption {
    display: block;
    margin: .5em 0 0 0;
    color: $gray-dark;
    font-family: $font-family-accent;
    font-size: $font-size-accent;
  }
}

// Adjust position in order to trigger gumshoe.js scrollspy event earlier, for smoother changes between steps within the scrolly
.scrolly__section--manila {
  padding-top: 150vh;
}

.scrolly__section--manila,
.scrolly__section--france,
.scrolly__section--argentina {
  @include mq($screen-l) {
    position: relative;
    left: 50%;
  }
}

