.scrolly__article {
  position: relative;
  z-index: 10;

  section {
    padding: 80vh 0 0 0;

    @include mq($screen-m) {
      padding: 0;
    }
  }

  @include mq($screen-m) {
    width: 50%;
    float: right;
  }

  @include mq($screen-l) {
    width: 480px;
  }
}

.scrolly__content {
  padding: 15px 30px;
  background: $white;

  @include mq($screen-m) {
    background: transparent;
  }
}

.scrolly__header {
  padding: 15px 30px;
}
