.scrolly__main {
  display: block;
}

.scrolly__main--world-info {
  display: block;
  padding-top: 100vh;

  // Adjust for spacing to following section:
  .scrolly__main__wrapper {
    margin-bottom: -80vh;
  }
}

.scrolly__main__wrapper {
  padding: 60px 30px;
  background: $white;
  min-height: 100vh;
  pointer-events: all;
}

.scrolly__main__body {
  font-size: $font-size-body;
  hyphens: auto;

  p {
    margin-bottom: 1em;
  }

  @include mq($screen-l) {
    margin: 0 24% 0 8%;
  }
}

.scrolly__main__sidebar {
  font-family: $font-family-title;
  font-weight: bold;
  margin: 30px 0;

  @include mq($screen-m) {
    width: 40%;
    float: right;
    margin: 0 0 30px 30px;
    min-height: 200px;
  }

  @include mq($screen-l) {
    width: 32%;
  }
}

.scrolly__main__authors {
  em {
    font-style: normal;
    color: $purple-dark;
    display: inline-block;
  }

  @include mq($screen-m) {
    background: $gray-light;
    padding: 30px;
  }
}

.scrolly__main__partners {
  display: none;
  background: $gray-lighter;
  padding: 30px;

  h4 {
    margin: 0;
    font-family: $font-family-title;
    font-size: $font-size-accent;
    text-transform: uppercase;
  }

  img {
    height: 60px;
    padding-top: 1em;
  }

  @include mq($screen-m) {
    display: block;
  }
}
