.scrolly__map-animation__item--positive {
  fill: #8b0000;
  opacity: 0.7;
}

.scrolly__map-animation__item--negative {
  fill: #008080;
  opacity: 0.7;
}

.scrolly__map-animation__counter {
  position: absolute;
  z-index: 10;
  padding: 30px;
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
  pointer-events: none;
  font-family: $font-family-title;
}

.scrolly__map-animation__end {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, 0.4);
}

.scrolly__map-animation__end--active {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s 2s;
}

.scrolly__map-animation__restart {
  display: block;
  width: 100px;
  margin: 30vh auto;
  padding-top: 150px;
  border: 0;
  outline: 0;
  background: url('../assets/images/restart.svg') no-repeat center;
  background-size: 70px;
  color: white;
  font-family: $font-family-title;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
