.scrolly__map-visualization {
  opacity: 1;
  transition: opacity 600ms;
}

.scrolly__map-visualization--hidden {
  opacity: 0;
}

.scrolly__map-visualization__item--positive {
  fill: #8b0000;
  opacity: 0.7;
}

.scrolly__map-visualization__item--negative {
  fill: #008080;
  opacity: 0.7;
}
