.scrolly__map-visualization {
  opacity: 1;
  transition: opacity 600ms;
}

.scrolly__map-visualization--hidden {
  opacity: 0;
}

.scrolly__map-visualization__item--positive {
  fill: #8b0000;
  opacity: 0.7;
}

.scrolly__map-visualization__item--negative {
  fill: #008080;
  opacity: 0.7;
}

.scrolly__map-visualization__tooltip {
  position: absolute;
  display: inline-block;
  padding: 5px;
  margin: -1.5em 1.5em;
  background: $white;
  z-index: 10;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  font-family: sans-serif;
  pointer-events: none;
}

.scrolly__map-visualization__tooltip {

}
