$bullet-diameter: 12px;

.scrolly__nav {
  position: fixed;
  bottom: 48px;
  left: 32px;
  z-index: 10;
  display: none;

   @include mq($screen-m) {
     display: block;
   }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
  }

  .scrolly--intro-active &,
  .scrolly--main-active &,
  .scrolly--world-active &  {
    opacity: 0;
  }
}

.scrolly__nav__link {
  display: block;
  position: relative;
  height: $bullet-diameter;
  margin: $bullet-diameter/2 0;
}

.scrolly__nav__link b {
  display: inline-block;
  position: absolute;
  padding: 5px;
  top: -5px;
  background: $purple;
  color: $white;
  line-height: 1;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  opacity: 0;
  transition: opacity .3s .3s ease-in-out;
  pointer-events: none;
  white-space: nowrap;
}

.scrolly__nav__link:hover b,
.scrolly__nav__link:focus b,
.scrolly__nav__link:active b {
  opacity: 1;
}

.scrolly__nav__link:before {
  content: '';
  position: absolute;
  left: -20px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  height: $bullet-diameter;
  width: $bullet-diameter;
  background: rgba($black, 0.5);
  border-radius: 50%;
}

.scrolly__nav__link--active:before,
.scrolly__nav__link:hover:before,
.scrolly__nav__link:focus:before,
.scrolly__nav__link:active:before {
  background: $purple;
  border-radius: 50%;
}
