.explorer__intro__title {
  margin: 0;
  padding: 1em 0 0 0;
  @include font-size($font-size-h2, false);
  line-height: 1.2;
  color: $color-text;
}

.explorer__title {
  margin: 0;
  padding: 2em 0 0 0;
  @include font-size($font-size-h3, false);
  line-height: 1.2;
  color: $gray-dark;
}

.explorer__back-link {
  &:before {
    content: "⤎";
  }

  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
}
