.intro {
  display: block;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;

  video {
    position: fixed;
    pointer-events: none;
    top: 0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
  }
}

.scrolly--intro-active .intro {
  opacity: 1;
  transition: opacity 500ms;
}

.intro__title {
  padding: 20vh 30px 0 30px;
  margin: 0 auto;
  font-size: 70px;
  text-transform: none;
  text-align: center;
  color: white;
  font-family: $font-family-title;
  font-weight: bold;
  text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
}

.intro__lead {
  padding: 3vh 5vw;
  margin: 0 auto;
  max-width: 960px;
  text-transform: none;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 50px rgba(255, 255, 255, 0.7);
  font-family: $font-family-default;
  font-size: 24px;
}

.intro__logo-correctiv {
  position: absolute;
  display: block;
  width: 220px;
  height: 80px;
  top: 35px;
  left: 5vw;
  background: url('../assets/images/logo-correctiv.svg') no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.intro__more {
  display: none;
  @include hide-text;
  @include mq($screen-m) {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -22px;
    background: url('../assets/images/arrow_start.svg') no-repeat;
  }
}
