// styles for details page

sealevel-scrolly-intro {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: url('../assets/images/intro_dummy_1_720.jpg') no-repeat fixed;
  background-color: black;
  background-position: center center;
  background-size: cover;
  color: white;
  opacity: 0;
  transition: .5s ease-out opacity;
  pointer-events: none;

  &.intro--active {
    opacity: 1;
    pointer-events: auto;
  }
}

