//styles for the line chart

.linechart {
  display: block;
  width: 100%;
  height: 250px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.linechart__axis-x,
.linechart__axis-y {
  text {
    fill: $gray-dark;
  }
  line {
    stroke: $gray-dark;
  }
  path {
    stroke: $gray-dark;
  }
}

.linechart__line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  opacity: 0.3;
}

.linechart__line--0 {
  opacity: 1;
}

.linechart__overlay {
  fill: none;
  pointer-events: all;
}

.linechart__circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 2px;
}

.linechart__focusline {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}

.linechart__popup {
  fill: black;
}

