//styles for the line chart

.linechart {
  display: block;
  width: 100%;
  height: 200px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.linechart__axis-x {
  text {
    fill: grey;
  }
  line {
    stroke: grey;
  }
  path {
    display: none;
  }
}

.linechart__axis-y {
  text {
    fill: grey;
  }
  line {
    stroke: grey;
  }
  path {
    stroke: grey;
  }
}

.linechart__line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.linechart__overlay {
  fill: none;
  pointer-events: all;
}

.linechart__circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 2px;
}

.linechart__focusline {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}

.linechart__popup {
  fill: black;
}

