$color-negative: #008080;
$color-positive: #8b0000;

.sealevel__map {
  top:0;
  left:0;
  height: 100%;
  width:100%;
  display:block !important;
  z-index:2;
  position: fixed;
}

.sealevel__map__bar {
  cursor: pointer;
}

.sealevel__map__bar--negative {
  fill: blue;
  cursor: pointer;

}

.sealevel__map__bar--positive {
  fill: red;
  cursor: pointer;
}

.leaflet-popup-close-button {
  display: none;
}

#sealevel__map > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-overlay-pane > svg {
  pointer-events: all;
}

.negative {
  fill: $color-negative;
  fill-opacity: 0.5;
}

.positive {
  fill: $color-positive;
  fill-opacity: 0.5;
}

.sealevel__map__infobox {
  z-index: 5;
  position: absolute;
  background: white;
  width: 200px;
  top: 50;
  right: 20;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  padding: 10px;
  font-size: 16px;
}

.sealevel__navigation {
  z-index: 5;
  position: absolute;
  background: white;
  top: 0;
  right: 50%;
  padding: 10px;
  text-align: center;
}

