//stylings for the map
@import 'https://unpkg.com/leaflet@1.0.1/dist/leaflet.css';

.sealevel__map {
  top:0;
  left:0;
  height: 100%;
  width:100%;
  display:block !important;
  z-index:2;
  position: fixed;
}

.sealevel__map__bar {
  cursor: pointer;
}

.sealevel__map__bar--negative {
  fill: #EFBC48;
  opacity: .7;

}

.sealevel__map__bar--positive {
  fill: #A33A39;
  opacity: .7;

}

.leaflet-popup-close-button {
  display: none;
}

#sealevel__map > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-overlay-pane > svg {
  pointer-events: all;
}

.sealevel__map__circle {
  fill: black;
  opacity: .5;
  cursor: pointer;
}

.slider {
  z-index: 5;
  text-align: center;
  position: fixed;
  width: 100%;
  color: lightgrey;
  font-weight: bold;
  font-size: 24px;
  bottom: 0;
  background: white;
}

.overlay {
  z-index: 5;
  text-align: center;
  position: fixed;
  width: 100%;
  color: lightgrey;
  font-weight: bold;
  font-size: 56px;
  top: 0;
}

#sealevel-range-input {
  width: 75%;
}
