//stylings for the map
@import 'https://unpkg.com/leaflet@1.0.1/dist/leaflet.css';

.sealevel__map {
  top:0;
  left:0;
  height: 100%;
  width:100%;
  display:block !important;
  z-index:2;
  position: fixed;
}

.sealevel__map__bar {
  cursor: pointer;
}

.sealevel__map__bar--negative {
  fill: blue;
  cursor: pointer;

}

.sealevel__map__bar--positive {
  fill: red;
  cursor: pointer;
}

.leaflet-popup-close-button {
  display: none;
}

#sealevel__map > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-overlay-pane > svg {
  pointer-events: all;
}

.negative {
  fill: blue;
  fill-opacity: 0.7;
}

.positive {
  fill: red;
  fill-opacity: 0.7;
}
