// colors
$black: #112233;
$white: #ffffff;
$gray: #d9d9de;
$gray-dark: #8798a9;
$gray-light: #e9e9e9;
$gray-lighter: #f5f7fb;
$blue: #469e9f;
$blue-dark: darken($blue, 20);
$purple: #fc6269;
$purple-dark: #c81455;

$color-text: $black;
$color-background: $white;
$color-link: $blue;
$color-link-highlight: $blue-dark;

// fonts
$font-size-default: 18px;
$font-size-body: 21px;
$font-size-accent: 13px;
$line-height-default: 28px;

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 26px;
$font-size-h4: 18px;

$font-family-default: georgia, "times new roman", times, serif;
$font-family-accent: "Source Sans Pro", sans-serif;
$font-family-title: "Source Sans Pro", sans-serif;

// Layout
$screen-s: 480px;
$screen-m: 768px;
$screen-l: 1100px;
$screen-xl: 1400px;
