// colors
$black: #112233;
$white: #ffffff;
$gray: #d9d9de;
$gray-dark: #8798a9;
$gray-light: #f3f6f9;
$blue: blue;
$blue-dark: red;
$purple: #ee0049;

$color-text: $black;
$color-background: $white;
$color-link: $blue;
$color-link-highlight: $purple;

// fonts
$font-size-default: 18px;
$line-height-default: 26px;

$font-size-h1:  40px;
$font-size-h2:  32px;
$font-size-h3:  24px;
$font-size-h4:  18px;

$font-family-default: sans-serif;
$font-family-serif: serif;

// Layout
$S: 480px;
$M: 768px;
$L: 1100px;

