@font-face {
  font-family: 'neuzeit grotesk';
  font-style: normal;
  font-weight: bold;
  src:  url('https://correctiv.org/static/fonts/neuzeit_grotesk_bold/neuzeitgro-bol-webfont.7651672ef3da.woff2?74efafab3a32') format('woff2'),
        url('https://correctiv.org/static/fonts/neuzeit_grotesk_bold/neuzeitgro-bol-webfont.f268337bcccc.woff?74efafab3a32') format('woff');
}
