@font-face {
  font-family: 'neuzeit grotesk';
  font-style: normal;
  font-weight: bold;
  src:  url('https://assets.correctiv.org/fonts/neuzeit_grotesk_bold/neuzeitgro-bol-webfont.woff2') format('woff2'),
        url('https://assets.correctiv.org/fonts/neuzeit_grotesk_bold/neuzeitgro-bol-webfont.woff') format('woff');
}
