/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * http://jsfiddle.net/redclover/mkYtY/
 */
@mixin font-size($font-size, $use-default-line-height:true){
  font-size:$font-size;
  font-size:($font-size / $font-size-default)*1rem;
  @if $use-default-line-height == true {
    line-height:ceil($font-size / $line-height-default) * ($line-height-default / $font-size);
  }
}

/**
 * Simple text replacement: The Kellum Method
 *
 * http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/**
 * Media queries
 */
@mixin mq($canvas) {
  @media only screen and (min-width: $canvas) { @content; }
}
