@import '../../node_modules/normalize-scss/sass/normalize';
@import 'config';
@import 'layout';
@import 'components/map';
@import 'components/explorer';
@import 'components/explorer/breadcrumbs';
@import 'components/intro';
@import 'components/scrolly';
@import 'components/navigation';
@import 'components/linechart';

html,
body {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
