/* ==========================================================================
   #HEADINGS
   ========================================================================== */

h1 {
  @include font-size($font-size-h1);
  font-family: $font-family-default;
  text-transform: uppercase;
}

h2 {
  @include font-size($font-size-h2);
  font-family: $font-family-default;
  text-transform: uppercase;
}

h3 {
  @include font-size($font-size-h3);
  font-family: $font-family-default;
}

h4 {
  @include font-size($font-size-h4);
  font-family: $font-family-default;
}
