.breadcrumbs {
  height: 40px;
  margin: -25px;
  padding: 0;
  list-style: none;
  background: $gray;
  color: $black;

  li {
    display: inline;
    margin: 0;
    padding: 0;
  }

  li:first-child > a {
    background: none;
    padding-left: 25px;
  }

  a {
    display: inline-block;
    overflow: hidden;
    color: $black;
    height: 40px;
    padding: 0 10px 0 30px;
    line-height: 45px;
    text-decoration: none;
    background-image: url(../assets/images/breadcrumb-chevron.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: $font-family-title;
    font-size: $font-size-accent;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
}

.breadcrumbs--condensed a {
  max-width: 25%;
}
