.explorer__map {
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.explorer__map__highlight {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 5px solid yellow;
  opacity: 0;
  animation: highlight-fade 0.3s 0.3s forwards;
}

@keyframes highlight-fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
