.explorer-panel {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  background: white;
  padding: 25px;
  margin: 25px;

  @include mq($screen-s) {
    width: 450px;
  }
}
