.explorer-panel {
  display: block;
  padding: 25px;
  background: $white;

  @include mq($screen-s) {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    width: 50%;
  }

  @include mq($screen-m) {
    margin: 25px;
    width: 450px;
  }
}
