.explorer-panel {
  display: block;
  position: absolute;
  width: 400px;
  min-height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  background: white;
  padding: 1em;

  @include MQ(S) {
    width:100%
  }
}
