.container {
  width: 100%;
  margin: 0 auto;

  @include mq($screen-s) {
    max-width: $screen-s;
  }

  @include mq($screen-m) {
    max-width: $screen-m;
  }

  @include mq($screen-l) {
    max-width: $screen-l;
  }

  @include mq($screen-xl) {
    max-width: $screen-xl;
  }
}
