.entries {
  color: $black;
  margin: 0;
  padding: 0;
  list-style: none;
}

.entries__item {
  display: block;
  position: relative;
  padding: 0.5em 0;
  min-height: 75px;
  text-decoration: none;
  color: $gray-dark;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: normal;
  border-bottom: 1px solid $gray;

  &:hover,
  &:active,
  &:focus {
    margin: -1px -25px 0 -25px;
    padding: 0.5em 25px;
    background-color: $gray-lighter;
    border-top: 1px solid $gray;
    color: $gray-dark;
  }

  &:after {
    content: "⟩";
    position: absolute;
    top: 1.5em;
    right: 0;
  }

  &:hover:after,
  &:active:after,
  &:focus:after {
    right: 25px;
  }
}

.entries__item--change {
  background-repeat: no-repeat;
  background-position: 0 1em;

  &:hover,
  &:active,
  &:focus {
    background-position: 25px 1em;
    display: block;
  }
}

.entries__item--change-lower {
  @extend .entries__item--change;
  background-image: url("../assets/images/arrow_lower_bc.svg");
}

.entries__item--change-low {
  @extend .entries__item--change;
  background-image: url("../assets/images/arrow_low_bc.svg");
}

.entries__item--change-flat {
  @extend .entries__item--change;
  background-image: url("../assets/images/arrow_flat_bc.svg");
}

.entries__item--change-high {
  @extend .entries__item--change;
  background-image: url("../assets/images/arrow_high_bc.svg");
}

.entries__item--change-higher {
  @extend .entries__item--change;
  background-image: url("../assets/images/arrow_higher_bc.svg");
}

.entries__title {
  margin: 0;
  padding-top: 0.5em;
  font-weight: bold;
  color: $black;
  font-family: $font-family-title;
  font-size: $font-size-h4;
  line-height: 1.2;

  .entries__item--change & {
    padding-left: 60px; // make space for the change indicator
  }
}

.entries__description {
  margin: 0;
  padding: 0;
  font-family: $font-family-accent;
  font-size: $font-size-accent;

  .entries__item--change & {
    padding-left: 60px; // make space for the change indicator
  }
}
