.language-switch {
  display: block;
  line-height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  width: 7em;
  color: $gray-dark;

  &:after {
    content: "▾";
    display: block;
    pointer-events: none;
    position: absolute;
    line-height: 1.4;
    top: 0;
    right: 0.4em;
  }
}

.language-switch__select {
  display: block;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0 0.4em;
  border-radius: 0;
  border: 2px solid $gray-dark;
  color: $gray-dark;
  font-size: $font-size-accent;
  font-family: $font-family-accent;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:active {
    border-color: $black;
  }

  /* Hide weird focus effect in firefox: */
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
