html,
body {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px; }

.sealevel__map {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block !important;
  z-index: 2; }

.sealevel__map__marker {
  border-radius: 50%;
  border: solid 1px #000; }
  .sealevel__map__marker--strong-decrease {
    background: #5e3c99; }
  .sealevel__map__marker--decrease {
    background: #b2abd2; }
  .sealevel__map__marker--increase {
    background: #fdb863; }
  .sealevel__map__marker--strong-increase {
    background: #e66101; }

.sealevel__details {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 400px;
  height: 100%;
  background: white;
  padding: 10px; }

.sealevel__details__titel {
  margin-top: -30px; }

.sealevel__details__close {
  cursor: pointer;
  font-size: 20px;
  text-align: right;
  margin-top: 5px; }

.sealevel__linechart__axis-x path {
  display: none; }

.sealevel__linechart__line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.sealevel__linechart__overlay {
  fill: none;
  pointer-events: all; }

.sealevel__linechart__circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 2px; }

.sealevel__linechart__focusline {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px; }
